.body {
  padding: 30px;
  flex: 0.8; /*this tells the body to use 80% of the flex box 
                    ** that is set between the body and the sidebar
                    ** in the Player.module.css*/
  color: white; /**setting the text color to white*/
  height: 100vh;
  overflow-y: overlay;
  background: linear-gradient(transparent, rgb(91, 87, 115));
}

.body::-webkit-scrollbar{
  display: none;
}

.body__info {
  display: flex;
  align-items: flex-end;      /*Moves the  item from top side to bottom side*/
  padding: 10px;
}

.body__info > img {
  height: 20vw;       /*this give the image a height of 20 view-weight*/
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5 );

}

.body__icons {
  display: flex;
  align-items: center;
}

.body__icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.body__shuffle {
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body__songs {
  margin: 20px -30px;
}

.body__shuffle:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}

.body__infoText > h2  {
  font-size: 48px;
  margin-bottom: 10px;
}

.body__infoText > p  {
  font-size: 14px;
}
