.sidebarOption {
  display: flex;
  color: gray;
  align-items: center;        /*Set items to be aligned*/
  height: 40px;
  cursor: pointer;                  /**changes the pointer to finger when hovered over*/
  transition: 200ms color ease-in;  /*sets the color to ease in whem hovered over*/
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.sidebarOption:hover {
    color: white;
}

.sidebarOption__icon{
  padding-left: 10px;
  padding-right: 10px;
}

.sidebarOption > p {                /*this targets all the paragraphs*/
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}
